<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
</head>

<body>
    <img class="wave" src="./img/wave.png">
    <div class="container">
        <div id='img' class="img">
            <img src="./img/personalization.svg">
        </div>
        <div id='login' class="login">
            <div class="form" autocomplete="off">
                <img src="./img/avatar.svg">
                <h2>WELCOME</h2>
                <div id='input-div' class="input-div">
                    <div class="i">
                        <i id='iconAva' class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5 id="textUser">Username</h5>
                        <input autocomplete="off" id='username' class="input" type='text'>
                    </div>
                </div>

                <div id="btnSubmit" class="submit1">
                    <button class="btnSubmit">LOGIN</button>
                </div>

            </div>
        </div>
        <div id='chatForm'>
            <div class="box-online">
                <div class="title">Online</div>
                <div id='userOnline'></div>
            </div>
            <div class="box-chat">
                <div class="nameChat">
                    <div id='nameChat'></div>
                    <button id='btnLogout' class="btnLogout">X</button>
                </div>

                <div id="contentChat">
                </div>
                <div id='isTyping'></div>
                <div class="inputChat">
                    <input autocomplete="off" id='textInput' type="text">
                    <button id='btnSend' class="btnSend">Send</button>
                </div>
            </div>

        </div>


        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Send message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input placeholder="Nhập tin nhắn..." class="modal-body">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id='sendChatID' type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div> -->



    </div>
    </div>
    <script src="/js/home.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.js"></script>
</body>

</html>